/*Custom Css Rules, mostly for the purpose of overriding bootstrap defaults*/
:host {
    --primary-blue: #102455;
}

/*Buttons*/

.btn-block {
    display: inline;
}

.btn-danger {
    background-color: #F55433;
    border-color: #f5f5f5;
    text-transform: uppercase;
}

.content-wrap {
    padding-top: 0px;
}

#down-arrow {
    width: 50px;
    display: block;
    margin: 35px auto;
}

#primary-menu
.slider-caption h2 {
    text-transform: none;
}

#section-insurance a {
    margin-top: 10px;
    padding: 15px 40px;
}

.dark {
    margin-top: 0px;
    background-color: #50669a;
    text-align: center;
}

.section-phone__left {
    text-align: right;
}

.section-phone__left h5, h2 {
    margin-bottom: 0px;
}

.section-phone__left h2 {
    margin-bottom: 0px;
}

.section-phone__right {
    margin-top: 15px;
    text-align: left;
}

.section-phone__right a {
    margin: 10px 16px;
}

#section-team {
    text-align: center;
}

/*nav*/
#primary-menu ul li:nth-child(1)>a {
    color: #f55433;
}

#primary-menu ul li:nth-child(2)>a {
    color: #830000;
}

#primary-menu ul li:nth-child(3)>a {
    color: blue;
}

/*Misc*/

.quoter {
    color: white;
    font-size: 60%;
}

.glyphicon-star {
    color: gold;
}
/*Utilties*/

section {
    border: 2px dashed tomato;
}